.profile{
  padding: 40px 15.625% 0;
  display: flex;
  /* display: grid;
  grid-auto-flow: column; */
  /* justify-content: space-between; */
  align-items: center;
}

@media (max-width: 425px) {
  .profile{
    flex-direction: column;
    padding: 38.25px 19px 0;
    justify-content: center;
  }
}